.profile-container {
  .inputs-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    margin: 0 auto;
    img {
      width: 200px;
      margin-top: 150px;
    }
    input {
      margin-top: 15px;
      width: 300px;
      height: 35px;
      transition: 0.1s;
      border-radius: 5px;
      border: none;
      font-size: 18px;
      font-weight: 900;
      color: $lightblue;
      padding-left: 8px;
      &:focus:read-write {
        outline: none;
        border-color: #9ecaed;
        box-shadow: 0 0px 10px #9ecaed;
      }
      &:focus {
        outline: none;
      }
      &:hover:read-write {
        box-shadow: 0 0px 10px #9ecaed;
      }
    }
    button {
      background-color: $lightblue;
      color: $darkWhite;
      width: 200px;
      height: 35px;
      font-size: 18px;
      font-weight: 900;
      margin-top: 20px;
      border-radius: 7px;
      border: none;
      transition: 0.3s;
      &:disabled {
        background-color: $darkestBlue;
        box-shadow: 0 0px 0px #9ecaed;
      }
      &:focus {
        outline: none;
      }
      &:hover:enabled {
        transition: 0.3s;
        opacity: 0.8;
      }
    }
  }
}