body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Pangolin', cursive;
}

.top-bar {
  display: flex;
  width: 20%;
  align-self: flex-start;
  background-color: red;
}

.h1-title{
  align-self: center;
  text-align: center;
  width: 100%;
  color: white;
}

.button-title {
  height: 100%;
}

.button-title button {
  padding: 20px 40px;
}

.menu-side-bar {
  position: fixed;
  width: 100%;
}