.row{
  margin: 0 auto;
  background: rgb(255, 255, 255);
  border-radius: 30px;
  box-shadow: 20px 20px 22px rgb(0, 0, 0);
  
}
img {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px ;
  margin-top: 10px;
  margin-bottom: 10px;

}
.btn1{
  border: 1px solid;
  outline: none;
  height: 50px;
  width: 100%;
  background-color: rgb(255, 196, 129);
  color: rgb(163, 163, 163);
  border-radius: 4px;
  font-weight:inherit;
}
.btn1:hover{
  background: rgb(255, 136, 0);
  border: none;
  color: rgb(0, 0, 0);
}
h1 {
  font-size: 70px;
  font-family: sans-serif;	
}
h4 {
  color: rgb(241, 133, 9);
  
  
}
.login {
  font-family: sans-serif;
  padding-top: 60px;
  padding-bottom: 10px;
}
.formBox {
  padding-left: 5px;
  padding-right: 5px ;
  padding-top: 5px;
 
} 

@media screen and (max-width: 990px) {
  img {
    display: none;
  }
}