.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.quantity-item {
  background-color: white ;
}

.headers {
  color: gray;
  display: flex;
  justify-content: space-around;
}

.container-detail {
  align-items: center;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.order-card-container {
  width: 100%;
  border: 1px solid white;
  background-color: yellow;
  display: flex;
  flex-direction: row;
  padding: 1%;
  /* margin: 5%; */
  /* background-color: blue; */
}
.order-card-detail-container {
  /* align-items: center; */
  width: 100%;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  /* margin: 5%; */
  background-color: blue;
}
.card-id-date {
  color: black;
  display: flex;
  justify-content: space-around;
  padding-top: 3%;
}

.card-total{
  color: black;
  padding-top: 5%;
  padding-left: 5%;
}

.panel-orders {
  background-color: white ;
  color: black;
  /* display: flex; */
  margin: 2%;
  padding: 3%;
  border-width:thin;
  border-radius: 20px;
  box-shadow: 20px 20px 22px rgb(0, 0, 0);
  width: 33%;
}

.panel-orders-detail {
  background-color: white ;
  color: black;
  /* display: flex; */
  margin: 2%;
  padding: 3%;
  border-width:thin;
  border-radius: 20px;
  box-shadow: 20px 20px 22px rgb(0, 0, 0);
  width: 80%;
}
.title-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 3%;
  /* padding: 10%; */
  /* background-color: blue; */
  font-weight: bold;
  font-size: 18px;
}

.title {
  margin: 0 5%;
}

/* .order-card-container {
  width: 33%;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  /* margin: 5%; */
  /* background-color: blue; */
/* } */

.order-total-value {
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
  margin-top: 5%;
}