.panel-profile {
  background-color: white ;
  color: black;
  margin: 15px;
  padding: 15px;
  border-width:thin;
  border-radius: 20px;
  box-shadow: 20px 20px 22px rgb(0, 0, 0);
}
.saveButton {
  inline-size: 300px;
  font-size: 15px;
  cursor: pointer;
  margin-top: 20px;
  text-align: center;	
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgb(255, 136, 0);
  border: none;
  border-radius: 15px;
  box-shadow: 2px 4px 4px #999;
}