.admin-container {
  color: rgb(0, 117, 117);
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.admin-container > div {
  display: flex;
}

.admin-container h1 {
  margin-left: 15%;
  margin-top: 40px;
  text-align: center;
  width: 85%;
}

.orders-list {
  display: flex;
  flex-flow: row wrap;
  margin-left: 15%;
  width: 85%;
}