@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.detailsOrders {
  align-items: center;
  align-content: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: auto;
  width: 100%;
}

.detailsOrders_title h1 {
  align-items: center;
  align-content: center;
  display: flex;
  flex-flow: row nowrap;
  font-family: 'Poppins', sans-serif;
  font-size: 20pt;
  font-weight: 900;
  justify-content: space-around;
  margin: auto;
  width: 100%;
}

.detailsOrders_product {
  align-items: center;
  align-content: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 100%;
}

.detailsOrders_product p {
  font-family: 'Poppins', sans-serif;
  font-size: 14pt;
  font-weight: 900;
}

.costumer_checkout_total {
  align-items: center;
  align-content: center;
  display: flex;
  flex-flow: row wrap;
  font-family: 'Poppins', sans-serif;
  font-size: 16pt;
  font-weight: 900;
  justify-content: center;
  width: 100%;
}

.costumer_checkout_total p {
  margin-left: 10px;
}

.costumer_checkout_address {
  align-items: center;
  align-content: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 100%;
}

.costumer_checkout_address p {
  font-family: 'Poppins', sans-serif;
  font-size: 16pt;
  font-weight: 900;
}

.costumer_checkout_address form {
  align-items: center;
  align-content: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 100%;
}

.costumer_checkout_address form label {
  font-family: 'Poppins', sans-serif;
  font-size: 14pt;
  font-weight: 900;
  margin: auto;
  margin-top: 10px;
  text-align: center;
}

.costumer_checkout_address form input {
  border: 2px solid #205527;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  font-size: 14pt;
  height: 30px;
  margin: auto;
  text-align: center;
  width: 300px;
}

.costumer_checkout_address form input:focus {
  border: 3px solid #205527;
  outline: none !important;
}

.costumer_checkout_address form button {
  background-color: #205527;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 16pt;
  font-weight: 700;
  height: 40px;
  margin-top: 15px;
  width: 305px;
}

.costumer_checkout_address form button:hover {
  background-color: #008200;
  color: #ffffff;
  cursor: pointer;
}

.costumer_checkout_address form button:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.costumer_checkout_address span {
  background-color: #ffffff;
  color: #ff4000;
  font-family: 'Poppins', sans-serif;
  font-size: 18pt;
  font-weight: 900;
  margin: auto;
  margin-top: 10px;
  text-align: center;
}