.div-main {
  display: flex;
  flex-direction: row;
}

.div-filha {
  flex-direction: column;
  margin-left: 15px;
}

.title {
  margin-left: 30px;
}

.botoes {
  margin-left: 5px;
}

.logout {
  margin-left: 5px;
  margin-top: 200px;
  margin-bottom: 10px;
}
