.div-main {
  display: flex;
  flex-direction: row;
}

.div-filha {
  flex-direction: column;
  margin-left: 15px;
}

.title {
  margin-left: 10px;
}

.botoes {
  width: 100px;
  /* margin-left: 5px; */
}

.logout {
  width: 100px;
  /* margin-left: 5px; */
  margin-top: 200px;
  margin-bottom: 10px;
}

.divBotao {
  border: 1px solid yellow;
  width: 100%;
}

.divDetails {
  /* margin: 5px; */
  margin-top: 0px;
  margin-bottom: 0px;
}

h2 {
  margin-bottom: 0px;
}

.pendente {
  color: green;
}
